MONGO_URI=mongodb+srv://sherifmostafagaber_db_user:83476962@cluster0.sctuvvi.mongodb.net/lensspace?appName=Cluster0
SESSION_SECRET=lensspace_super_secret_key_2025_MIU
PORT=3000
EMAIL_USER=sherifmostafagaber@gmail.com
EMAIL_PASS=isou vxxs hkgv rvzl
NODE_ENV=development
